body {
    background-color: #F1C40F;
    font-family: "Courier New";
  }
  
  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  
  .draggable, .droptarget {
    border: 20px solid white;
    margin: 30px;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  
  .one {
    background-color: #f15e0f;
  }
  .two {
    background-color: #a532f1;
  }
  .three {
    background-color: #2274a5;
  }
  
  .droptarget {
    border: 10px dashed white;
    transition: border-width 0.5s linear;
  }
  
  .hover {
    border-width: 20px;
  }
  